{% extends "base.html" %}
{% load static %}

{% load i18n %}

{% block head_title %}{% trans "Sign Up Closed" %}{% endblock %}

{% block content %}
<main>
    <div class="container border shadow" style="margin-left: 119px;">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
                <div class="d-flex justify-content-center py-4">
                </div>
                <h1>{% trans "Sign Up" %}</h1>

                <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {{ custom_form.as_p }}
                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <button type="submit" class="btn btn-success">{% trans "Sign Up" %} &raquo;</button>
                </form>
            </div>
        </div>
    </div>
</main>

{% endblock %}
