{% extends "admin_template/admin_index.html" %}
{% load static %}
{% block content %}
{% include 'admin_template/header.html' %}
{% include 'admin_template/sidebar.html' %}
{% load crispy_forms_tags %}

<div class="pagetitle">
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item "><a href="{% url 'rooms:admin_rooms' Hotel.pk %}">All Rooms</a></li>
        <li class="breadcrumb-item active">Add New Room</li>
      </ol>
    </nav>
</div>


<section class="section ">
    <div class="row">
        <div class="col-12 ">
            <div class="card border shadow">
                <div class="card-body">
                    <form method="post" class="row g-3 p-3 " enctype="multipart/form-data">

                        {% csrf_token %}

                        {{ form.non_field_errors }}

                         <p><b>Hotel Name :</b> {{ rooms.hotel }}</p>

                        <div class="col-md-4">
                            {{ form.number.errors }}
                            <div class="col-md-4">
                                {{ form.number | as_crispy_field}}
                            </div>

                        <div class="col-md-4">
                            {{ form.type.errors }}
                            <div class="col-md-12">
                                {{ form.type | as_crispy_field}}
                            </div>
                        </div>

                        <div class="col-md-4">
                            {{ form.price.errors }}
                            <div class="col-md-12">
                                {{ form.price | as_crispy_field}}
                            </div>
                        </div>
                        
                        <div class="col-md-4">
                            {{ form.hotel_image.errors }}
                            <div class="col-md-12">
                                {{ form.room_image | as_crispy_field}}
                            </div>
                        </div>

                        <div class="col-md-12">
                            {{ form.description.errors }}
                            <div class="col-md-12">
                                {{ form.description | as_crispy_field}}
                        </div>
                        
                        <div class="text-end">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            
                            <button type="reset" class="btn btn-secondary">Reset</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
</section>

{% endblock %}