{% extends "admin_template/admin_index.html" %}
{% load static %}
{% block content %}
{% include 'admin_template/header.html' %}
{% include 'admin_template/sidebar.html' %}
{% load crispy_forms_tags %}



<div class="pagetitle">
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'hotels:all' %}">All Hotel</a></li>
            <li class="breadcrumb-item active">{{ hotel.name }}</li>
        </ol>
    </nav>
  </div>
  
  <div class="container ">
    <div class="row">
      <div class="col-12">
        <card class="card border shadow  ">
          <div class="card-body">
            <form method="post" class="row g-3 p-3">
              {% csrf_token %}
              {{ form.non_field_errors }}
  
              <div class="col-md-12">
                {{ form.name.errors }}
                <div class="col-md-12">
                  {{ form.name | as_crispy_field }}
                </div>
              </div>
  
  
          <div class="col-md-12">
            {{ form.description.errors }}
            <div class="col-md-12">
              {{ form.description | as_crispy_field }}
            </div>
          </div>
  
  
          <div class="col-md-12">
            {{ form.location.errors }}
            <div class="col-md-12">
              {{ form.location | as_crispy_field }}
            </div>
          </div>
  
          <div class="col-md-4">
            {{ form.amenities.errors }}
            <div class="col-md-12">
                {{ form.amenities | as_crispy_field}}
            </div>
        </div>

        <div class="col-md-4">
            {{ form.hotel_image.errors }}
            <div class="col-md-12">
                {{ form.hotel_image | as_crispy_field}}
            </div>
        </div>
  
        <div class="col-md-4">
          {{ form.Hotel_admin.errors }}
          <div class="col-md-12">
              {{ form.Hotel_admin | as_crispy_field}}
          </div>
      </div>

          <div class="text-end">
            <button type="submit" class="btn btn-primary">Submit</button>

            <button type="reset" class="btn btn-secondary">Reset</button>
          </div>
        </form>
      </div>
    </card>
    </div>
    </div>
    </div>


{% endblock %}