{% extends "base.html" %}
{%  load static %}
{% block  content %}

<div class="container-fluid page-header mb-5 p-0" style="background-image: url({% static 'user_static/img/carousel-1.jpg' %});">
    <div class="container-fluid page-header-inner py-5">
        <div class="container text-center pb-5">
            <h3 class="display-3 text-white mb-3 animated slideInDown">This room alreday booked try another rooms in over hotel</h3> 
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center text-uppercase">
                    <li class="breadcrumb-item"><a href="{% url 'user:index' %}">Home</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'rooms:all_rooms' hotel %}">Rooms</a></li>
                </ol>
            </nav>
        </div>
    </div>
</div>



{% endblock %}